.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  padding: 20px;
}

.checkbox {
  transform: scale(1.2);
}

.checkbox:checked .wrapper{
  border-color:red;
}

.title {
  color: var(--marine-blue);
  font-weight: 500;
}

.description {
  color: var(--cool-gray);
}
