.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content > input + label {
  margin-top: 25px;
  flex: 1;
}

.buttonWrapper {
  margin-left: auto;
}

@media (max-width:900px) {
  .buttonWrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background:var(--magnolia);
    padding: 20px;
    margin-left: initial;
  }
}
