.input[type="text"],
.input[type="email"],
.input[type="tel"] {
  width: 100%;
  padding: 15px;
  font-size: 0.85rem;
  border-radius: 6px;
  border: 1px solid var(--light-gray);
  background: var(--white);
}

.input[type="text"]::placeholder,
.input[type="email"]::placeholder,
.input[type="tel"]::placeholder {
  color: var(--cool-gray);
}

.input[type="text"]:hover,
.input[type="email"]:hover,
.input[type="tel"]:hover {
  border: 1px solid var(--purplish-blue);
}
.input[type="text"]:focus,
.input[type="email"]:focus,
.input[type="tel"]:focus {
  outline-color: var(--purplish-blue);
}

.label {
  display: block;
  color: var(--marine-blue);
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 0.95rem;
}

.error {
  margin: 5px 0;
  color: var(--strawberry-red);
}

.input.errorInput {
  border-color: var(--strawberry-red);
}
